<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
	<h1>ToDo List</h1>
	<div>Add a New Item
		<form action="{{ url_for('add') }}" method="POST">
			<input type="text" name="todoitem">
			<input type="submit" value="Add Item">
		</form>
	</div>
	<div>
		<ul>
			{% for todo in todos %}
			<li><input name "{{ todo.id }}" type="checkbox" value="{{ todo.complete }}">{{ todo.text }} 
				<a href="{{ url_for('complete', id=todo.id) }}">Complete Item </a>
				<a href="{{ url_for('delete', id=todo.id) }}">Delete Item </a>
			</li>
			{% endfor %}
		</ul>
	</div>
</body>
</html>
