<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
</head>
<body>
	<h1>ToDo List</h1>
	<div>Add a New Item
		<form action="{{ url_for('add') }}" method="POST">
			<input type="text" name="todoitem">
			<input type="submit" value="Add Item">
		</form>
	</div>
	<div>
		<ul>
			{% for todo in todos %}
			<li>
				<output name="{{ todo.id }}">{{ todo.text }}
				<output name="{{ todo.id }}">{{ todo.complete }}
				<a href="{{ url_for('MarkAsComplete', id=todo.id) }}">Toggle Complete</a> |
				<a href="{{ url_for('MarkAsIncomplete', id=todo.id) }}">Toggle TODO</a> |
				<a href="{{ url_for('delete', id=todo.id) }}">Delete Item</a>
			</li>
			{% endfor %}
		</ul>
	</div>
	<div>
		<form action="{{ url_for('logout') }}" method="POST">
			<input type="submit" value="Logout">
		</form>
	</div>
</body>
</html>
